<c-container breakpoint="lg" style="margin-top: 10px;">
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <c-row class="align-items-center">
          <!-- CoreUI Alert Component -->
          <c-alert *ngIf="showAlert" color="info" (click)="showAlert = false">
            {{ uploadMessage }}
          </c-alert>

          <!-- Columna para el título centrado -->
          <c-col class="text-left" style="flex: 1;">
            <h5>Facturas Consolidadas</h5>
          </c-col>
        </c-row>
        <!-- Columna para los botones alineados a la derecha -->
        <c-col class="text-end">
          <c-button-group aria-label="Basic mixed styles example" role="group">
            <button cButton color="info" variant="outline" (click)="openUploadModal()">
              <svg cIcon name="cilDataTransferUp" size="xl" title="Transfer Up"></svg>
            </button>
            <button cButton color="success" variant="outline" (click)="openUploadModalMasivo()">
              <svg cIcon name="cilPlus" size="xl" title="Transfer Up"></svg>
            </button>
          </c-button-group>
        </c-col>

      </div>

      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Factura</th>
              <th>Fecha</th>
              <th>Cuenta</th>
              <th>Detalle</th>
              <th>Debito</th>
              <th>Credito</th>
              <th>Socio</th>
              <th>Banco</th>
              <th>Empresa</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{ item.id }}</td>
              <td>{{ item.factura }}</td>
              <td>{{ item.fecha | date }}</td>
              <td>{{ item.cuenta }}</td>
              <td>{{ item.detalle }}</td>
              <td>{{ item.debito | currency:'COP' }}</td>
              <td>{{ item.credito | currency:'COP' }}</td>
              <td>{{ item.socio }}</td>
              <td>{{ item.banco }}</td>
              <td>{{ item.empresa }}</td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</c-container>

<!-- Modal para subir documento -->
<c-modal id="uploadModal" [visible]="uploadModalVisible" (visibleChange)="handleUploadModalChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Subir documento</h5>
    <button (click)="closeUploadModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div>
      <input aria-describedby="inputGroupFileAddon03" aria-label="Upload" cFormControl id="inputGroupFile03" type="file"
        accept=".csv, .xlsx" (change)="onFileSelected($event)" name="file" />
      <p>{{ uploadMessage }}</p>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="onUpload()" cButton color="success">Subir</button>
    <button (click)="closeUploadModal()" cButton color="secondary">Cerrar</button>
  </c-modal-footer>
</c-modal>

<!-- Modal para confirmar -->
<c-modal id="ActdModal" [visible]="ActModalVisible" (visibleChange)="handleActModalChange($event)"
  class="custom-modal-width">
  <c-modal-header>
    <h5 cModalTitle>Consolidación de facturas</h5>
    <button (click)="closeActdModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-form-consolidacion></app-form-consolidacion>
  </c-modal-body>
</c-modal>

<!-- Modal para subir documento Masivo -->
<!-- Modal para subir documento Masivo -->
<c-modal id="uploadModalMasivo" [visible]="uploadModalVisibleMasivo"
  (visibleChange)="handleUploadModalChangeMasivo($event)">
  <c-modal-header>
    <h5 cModalTitle>Subir documento Masivo</h5>
    <button (click)="closeUploadModalMasivo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div>
      <input aria-describedby="inputGroupFileAddon03" aria-label="Upload" cFormControl id="inputGroupFile03" type="file"
        accept=".csv, .xlsx" (change)="onFileSelectedMasivo($event)" name="file" />
      <!-- Mensaje actualizado -->
      <p>{{ uploadMessageMasivo }}</p>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="onUploadMasivo()" cButton color="success">Subir</button>
    <button (click)="closeUploadModalMasivo()" cButton color="secondary">Cerrar</button>
  </c-modal-footer>
</c-modal>

<!-- Alert message for success or error (masivo) -->
<div *ngIf="showAlert" class="alert" [ngClass]="{'alert-success': uploadMessageMasivo.includes('correctamente'), 'alert-danger': uploadMessageMasivo.includes('Error') }">
  {{ uploadMessageMasivo }}
</div>