<div class="card">
    <div class="card-header">
      <c-row class="align-items-center">
        <!-- CoreUI Alert Component --
  
        <!-- Columna para el título centrado -->
        <c-col class="text-left" style="flex: 1;">
          <h5>Proyecciones</h5>
        </c-col>
      
      <!-- Columna para los botones alineados a la derecha -->
      <c-col class="text-end">
        <button class="btn btn-success mb-3" (click)="exportToExcel()">
            Exportar a Excel
        </button>
      </c-col>
    </c-row>
    </div>
  
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Factura</th>
            <th>Fecha</th>
            <th>Fecha Reprogramada</th>
            <th>Cuenta</th>
            <th>Detalle</th>
            <th>Descripción</th>
            <th>Debito</th>
            <th>Credito</th>
            <th>Socio</th>
            <th>Banco</th>
            <th>Estado</th>
            <th>Empresa</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>
            <td>{{ item.factura }}</td>
            <td>{{ item.fecha | date }}</td>
            <td>{{ item.fecha_reprogramacion | date }}</td>
            <td>{{ item.cuenta }}</td>
            <td>{{ item.detalle }}</td>
            <td>{{item.comunicacion}}</td>
            <td>{{ item.debito | currency:'COP' }}</td>
            <td>{{ item.credito | currency:'COP' }}</td>
            <td>{{ item.socio }}</td>
            <td>{{ item.banco }}</td>
            <td>{{item.estado}}</td>
            <td>{{ item.empresa }}</td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  
  
