/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:host ::ng-deep .mat-datepicker-content {
  z-index: 2000 !important; /* Un valor alto para garantizar que esté encima de modales */
  position: fixed; /* Asegúrate de que se posicione correctamente */
}

/* Asegúrate de que el overlay de Angular Material esté por encima del modal */
.cdk-overlay-container {
  z-index: 2000 !important; /* Valor alto para garantizar que el overlay esté encima de todo */
}

  