<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm (submit)="login()">
                <h1 class="text-center">Securicol</h1>
                <p class="text-body-secondary text-center">Ingrese con su cuenta</p>

                <!-- Mensaje de error global -->
                <div *ngIf="showError" class="alert alert-danger text-center">
                  {{ errorMessage }}
                </div>

                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input 
                    autoComplete="username" 
                    cFormControl 
                    placeholder="Usuario" 
                    [(ngModel)]="username" 
                    name="username" 
                    required 
                    [ngClass]="{'is-invalid': showError}" />
                </c-input-group>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input 
                    autoComplete="current-password" 
                    cFormControl 
                    placeholder="Contraseña" 
                    type="password" 
                    [(ngModel)]="password" 
                    name="password" 
                    required 
                    [ngClass]="{'is-invalid': showError}" />
                </c-input-group>

                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4 w-100 btn-custom" type="submit">
                      Ingresar
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link" [routerLink]="['/forgot-password']">
                      ¿Olvidó su contraseña?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'background-color': '#840707', 'color': 'white'}" class="text-white py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Inscribir</h2>
                
                <button [active]="true" cButton class="mt-3 btn-custom-white" color="primary" routerLink="/register">
                 Registrar Usuario
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>