<c-card></c-card>
<c-card-header>
    <h5>Factura {{ form.get('nombre_socio')?.value }}</h5>
</c-card-header>

<c-card-body>



    <form [formGroup]="form" cForm cRow class="needs-validation" ngNativeValidate (ngSubmit)="onSubmit()">

        <!-- Fecha de creación (No editable) -->
        <c-col [md]="6" style="position: relative;">
            <label cLabel for="fecha">Fecha de creación</label>
            <input matInput [matDatepicker]="picker1" formControlName="fecha" cFormControl
                id="fecha" type="text" style="width: 200px;"
                [value]="form.get('fecha')?.value" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </c-col>

        <!-- Fecha de Reprogramación (Editable) -->
        <c-col [md]="6" style="position: relative;">
            <label cLabel for="fecha_reprogramacion">Fecha de reprogramación</label>
            <input matInput [matDatepicker]="picker2" formControlName="fecha_reprogramacion" cFormControl
                id="fecha_reprogramacion" type="text" style="width: 200px;"
                [value]="form.get('fecha_reprogramacion')?.value" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </c-col>

         <!-- Empresa (Non-editable) -->
         <c-col [md]="6">
            <label cLabel for="emrpesa">Empresa</label>
            <input cFormControl id="empresa" formControlName="empresa" type="text" style="width: 200px;"
                [value]="form.get('empresa')?.value" />
        </c-col>

        <!-- Saldo (Non-editable) -->
        <c-col [md]="6">
            <label cLabel for="saldo">Saldo</label>
            <input cFormControl id="saldo" formControlName="saldo" type="text" style="width: 200px;"
                [value]="formatCurrency(form.get('saldo')?.value)" />
        </c-col>

        <!-- Saldo Real (Editable) -->
        <c-col [md]="6">
            <label cLabel for="nuevo_pago">Saldo Real</label>
            <input cFormControl id="nuevo_pago" formControlName="nuevo_pago" type="number" step="0.01"
                style="width: 100%;" [attr.placeholder]="getSaldoPlaceholder()"
                [value]="form.get('nuevo_pago')?.value" />
        </c-col>

        <!-- Diferencia entre saldo y saldo real (Editable) -->
        <c-col [md]="12">
            <label cLabel>Diferencia de Saldo</label>
            <p
                [ngClass]="{'text-success': form.get('nuevo_pago')?.value <= form.get('saldo')?.value, 'text-danger': form.get('nuevo_pago')?.value > form.get('saldo')?.value}">
                {{ getSaldoDiferencia() }} <!-- Muestra la diferencia -->
            </p>
        </c-col>

        <!-- Botón de Enviar -->
        <c-col [xs]="12">
            <button cButton color="primary" type="submit" [disabled]="form.invalid">
                Enviar formulario
            </button>
        </c-col>

    </form>

</c-card-body>

