<form [formGroup]="form" cForm cRow class="needs-validation" ngNativeValidate
    (ngSubmit)="onSubmit()">


    <!-- Empresa Selection -->
    <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Seleccione la
        empresa</h6>

    <!-- Checkbox Services -->
    <c-col [xs]="6">
        <c-form-check class="mb-3">
            <input cFormCheckInput id="check_ser" formControlName="checkSer"
                type="checkbox">
            <label cFormCheckLabel for="check_ser">Services</label>
        </c-form-check>
        <c-form-feedback
            *ngIf="form.get('checkSer')?.invalid && form.get('checkSer')?.touched">
            Seleccione una empresa.
        </c-form-feedback>
    </c-col>

    <!-- Checkbox Privada -->
    <c-col [xs]="6">
        <c-form-check class="mb-3">
            <input cFormCheckInput id="check_priv" formControlName="checkPriv"
                type="checkbox">
            <label cFormCheckLabel for="check_priv">Privada</label>
        </c-form-check>
        <c-form-feedback
            *ngIf="form.get('checkPriv')?.invalid && form.get('checkPriv')?.touched">
            Seleccione una empresa.
        </c-form-feedback>
    </c-col>

    <!-- Dairios -->

    <c-col [md]="6">
        <label cLabel for="diario">Diario</label>
        <select cSelect id="diario" formControlName="diario">
            <option disabled>Seleccione un diario</option>
            <option *ngFor="let opcion of opcionesDiarios" [value]="opcion.value">{{ opcion.value }}</option>
        </select>
        <c-form-feedback *ngIf="form.get('diario')?.invalid && form.get('diario')?.touched">
            Por favor seleccione un diario.
        </c-form-feedback>
    </c-col>

      <!-- Select Proveedor -->
      <c-col [md]="6">
        <label cLabel for="provedor">Tercero</label>
        <select cSelect cFormControl id="provedor" formControlName="provedor">
            <option *ngFor="let provedor of provedores" [value]="provedor.nombre_provedor">
                {{ provedor.NIT }} - {{ provedor.nombre_provedor }}
            </option>
        </select>
        <c-form-feedback *ngIf="form.get('provedor')?.invalid && form.get('provedor')?.touched">
            Por favor seleccione un proveedor.
        </c-form-feedback>
    </c-col>

    <!-- Fecha de Creación -->
    <c-col [md]="6" style="position: relative;">
        <label cLabel for="fecha_creacion">Fecha de Creación</label>
        <input matInput [matDatepicker]="picker1" formControlName="fechaCreacion" cFormControl id="fecha_creacion" required type="text" style="width: 200px;" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <c-form-feedback *ngIf="form.get('fechaCreacion')?.invalid && form.get('fechaCreacion')?.touched">
            Por favor, seleccione una fecha válida.
        </c-form-feedback>
    </c-col>

    <!-- Fecha de Vencimiento -->
    <c-col [md]="6" style="position: relative;">
        <label cLabel for="fecha_vencimiento">Fecha de Vencimiento</label>
        <input matInput [matDatepicker]="picker2" formControlName="fechaVencimiento" cFormControl id="fecha_vencimiento" required type="text" style="width: 200px;" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <c-form-feedback *ngIf="form.get('fechaVencimiento')?.errors?.['dateInvalid'] && form.get('fechaVencimiento')?.touched">
            La fecha de vencimiento debe ser mayor o igual a la fecha de creación.
        </c-form-feedback>
        <c-form-feedback *ngIf="form.get('fechaVencimiento')?.invalid && !form.get('fechaVencimiento')?.errors?.['dateInvalid'] && form.get('fechaVencimiento')?.touched">
            Por favor, seleccione una fecha válida.
        </c-form-feedback>
    </c-col>

    <!-- Total -->
    <c-col [md]="6" style="position: relative;">
        <label cLabel for="total">Total</label>
        <input matInput formControlName="total" cFormControl id="total" required type="text" [value]="formattedTotal" (input)="onTotalChange($event)" />
        <c-form-feedback *ngIf="form.get('total')?.invalid && form.get('total')?.touched">
            Por favor, ingrese un valor válido.
        </c-form-feedback>
    </c-col>

    <!-- Select Cuentas Contables -->
    <c-col [md]="6">
        <label cLabel for="cuentaContable">Cuenta Contable</label>
        <select cSelect cFormControl id="cuentaContable" formControlName="cuentaContable">
            <option *ngFor="let cuentaContable of CuentasContablesData" [value]="cuentaContable.cuenta_contable">
                {{ cuentaContable.cuenta_contable }}
            </option>
        </select>
        <c-form-feedback *ngIf="form.get('cuentaContable')?.invalid && form.get('cuentaContable')?.touched">
            Por favor seleccione una cuenta contable.
        </c-form-feedback>
    </c-col>

       <!-- Select Banco -->
       <c-col [md]="12">
        <label cLabel for="conf_banco">Cuenta Bancaria</label>
        <select cSelect cFormControl id="conf_banco" formControlName="conf_banco">
            <option *ngFor="let cuenta of cuentas" [value]="cuenta.id">
                {{ cuenta.cuenta }} - {{ cuenta.banco }}
            </option>
        </select>
        <c-form-feedback *ngIf="form.get('conf_banco')?.invalid && form.get('conf_banco')?.touched">
            Por favor seleccione una cuenta bancaria.
        </c-form-feedback>
    </c-col>
    <div *ngIf="showSuccessMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

    
</form>
<c-col [xs]="12">
    <button cButton color="primary" type="submit" (click)="onSubmit()">
        Enviar formulario
    </button>
</c-col>
